body{
    font-family: Arial, Helvetica, sans-serif;
}

label span::after{
    padding:15px;
}
label input:invalid+span::after{
    content: "âŒ";
}
label input:valid+span::after{
    content: "\2713";
}